# Archivos confidenciales
serviceAccountKey.json
.env

# Archivos generados por Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
env/

# Streamlit
.streamlit/

# Archivos sensibles
__pycache__/
*.pyc
